.new-tweet-form {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0;
}

.new-tweet-form textarea {
  border: none;
  border-bottom: 3px solid #000;
  margin-bottom: 26px;
  height: auto;
  resize: none;
  background-color: inherit;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.new-tweet-button {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: #4056a1;
  color: #fff;
}

.counter-color {
  color: #eb0a0a;
}

.warning {
  color: red;
}

.hide {
  display: none;
}
